<!--Add images section-->
<div class="container" id="image-input-card">
  <div class="row">
    <div class="col-sm-2"></div>
  <div class="col-sm"><input required="true" #model type="text"  class="input-image-component" placeholder="Enter Battery Model Name"/></div>
  <div class="col-sm"><input #url type="text"   class="input-image-component" placeholder="Enter ImageData Link"/></div>
  <div class="col-sm-3" id="image-input-button"><button class="btn btn-primary mt-5" (click)="insertImage(model.value,url.value)">Add ImageData</button></div>
</div>
</div>



<div class="container image-table">
  <div class="row">
    <div class="col">

        <table class="table">
          <thead>
          <tr>
            <th scope="col">ImageData ID</th>
            <th scope="col">Model Name</th>
            <th scope="col">Add ImageData Link</th>
            <th scope="col">Action</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let image of imageList | keyvalue">
            <th scope="row">{{image.key}}</th>
            <td>{{image.value.model}}</td>
            <td><input #updatedUrl type="text" placeholder="Enter image link to update"></td>
            <td><button class="btn btn-primary btn-large" (click)="updateImage(updatedUrl.value,Number(image.key))">Update</button></td>
            <td><button class="btn btn-danger btn-large" (click)="deleteImage(Number(image.key))">Delete</button></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>





